<!doctype html>
<html lang ='en'>
    <head>
        <meta charset = 'utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doggy Data</title>
        <meta name ='description' content = 'This is a dog app. It is a very goog boy. I like good boys. The only kind of dog that we all want is one that is hot. 
        I love meta data. I like dogs but I am allergic. Dog Stats. Find out what dog is best for you. 
        find out training things for you puppy etc. The list goes on and on and on. This is Just a bunch of random not important text. Yes I know where this shows up.'>
        <meta name ='author' content= 'Jesse Piccione'>
        <link rel = 'stylesheet' href = 'https://www.w3schools.com/w3css/4/w3.css'>
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.css" />
        <link rel='stylesheet' href='public/css/Style.css' />
      
    </head>
    <body>
        <!--Page header-->
        <div class = 'header'>
            <b>Doggy Data</b>
        </div>
        <div class = "content">
            <div class = 'pagecontent'>
                <form method='post' action='/'>
                    <fieldset>
                        <legend>
                            <h1 class = 'pheadercss'><b>Search for a Breed</b></h1>
                        </legend>
                        <input type = 'text' name = 'search' placeholder="Please enter a Dog breed..." size = '80'>
                        <input type ='submit' value = 'GO'>
                    </fieldset>
                </form>
                <hr />
                {{{body}}}
                <br />
                <h1 class = 'pheadercss'><b>Popular Breeds //not up and running </b></h1>
                <div class='w3-content w3-display-container w3-center'>
                    <img class = 'bigchungus' src = 'public/newMeme1.jpg'>
                    <img class = 'bigchungus' src = 'public/newMeme2.png'>
                    <img class = 'bigchungus' src = 'public/newMeme3.jpg'>
                    <img class = 'bigchungus' src = 'public/newMeme4.jpg'>
                    <br />
                    <button class = 'w3-button demo chinga'>1</button>
                    <button class = 'w3-button demo chinga'>2</button>
                    <button class = 'w3-button demo chinga'>3</button>
                    <button class = 'w3-button demo chinga'>4</button>
                    <br />
                    <button class = 'w3-button w3-black-display-left' id = 'left'>&#10094; Back</button>
                    <button class = 'w3-button w3-black-display-right' id = 'right'>Next &#10095;</button>
                
                </div> 
                <br />
                <br>
                <hr />
                
            
                <!-- request tester form-->
            
                <form class = 'myformcss'>
                    <legend><b>Contact Us</b></legend>
                    <hr />
                    <fieldset>
                                    
                        <label>Your Email<br /></label>
                        <input type = 'text' id = 'email' size='50' maxlength = '100'  placeholder="Your email...">           
                        <br />           
                        <label>Your Brief Message<br /></label>
                        <textarea id = 'textContent' name = 'emailText' cols = '67' style = 'height: 170px;'  placeholder="Your message here..."></textarea>
                        <br />
                        <button id = 'emailForm'>Send</button> 
                                 
                    </fieldset> 
                </form>
                       
                            <hr />
                            <h2 class = 'pheadercss'><b>Response from Form</b></h2>
                            <hr />
                       
                        <div id = 'postdump' class = 'scrollBox'>
                            
                        </div>

                       
                <br />
            </div> 
        </div>
  
        <script src='public/js/Script.js'></script>
     
    </body>
</html>